.home-page {
  background-image: url(home-background.jpg);
  background-size: cover;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-right: 40px;
  margin-top: 20px;
}
.title-text-container {
  /* background-image: url(home-background.jpg);
  background-size: cover;
  height: 100vh; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  color: white;
  font-size: 50px;
  background-color: rgba(31, 41, 46, 0.8);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  animation-duration: 3s;
  animation-name: slidein;

}

@keyframes slidein {
  from {
    margin-left: 200%;
    width: 100%;
  }

  to {
    /* margin-left: 0%;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
